[submodule "Weikio.Common"]
	path = src/submodules/Weikio.Common
	url = https://github.com/weikio/Common.git
	branch = master
	update = rebase
[submodule "Weikio.PluginFramework"]
	path = src/submodules/Weikio.PluginFramework
	url = https://github.com/weikio/PluginFramework.git
	branch = master
	update = rebase