@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Weikio.ApiFramework.Samples.Admin.Pages.IndexModel
@{
}

<body>
<h2>Current endpoints:</h2>
<ul>
    @foreach (var endpoint in Model.EndpointManager.Endpoints)
    {
        <li>@endpoint.Route - @endpoint.Api.ApiDefinition.Name</li>
    }

</ul>

<form method="post">
    <input type="submit" value="Add endpoint">
</form>

<h2>Available Apis:</h2>
<ul>
    @foreach (var apiDefinition in Model.Apis)
    {
        <li>@apiDefinition.ToString()</li>
    }
</ul>
</body>